{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}

<!-- service area start -->
<div class="tp-service-3-area pt-120 pb-70">
  <div class="container">
     <div class="tp-service-3-title-wrap mb-90">
        <div class="row align-items-end">
           <div class="col-xl-9 col-lg-6 col-md-8">
              <div class="tp-service-3-title-box">
                 <span class="tp-section-2-subtitle mb-20 text-light">Machine Learning Model</span>
                 <h4 class="tp-section-title fs-40 mb-0 tp-split-text tp-split-right text-light"> Welcome to the Face  <br> Recognition Attendance System</h4>
              </div>
           </div>
           <div class="col-xl-3 col-lg-6 col-md-4">
              <div class="tp-service-3-btn-box text-start text-md-end">
                 <a class="tp-btn-border-paste text-light" href="service.html">
                    View All Services
                    <span>
                       <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 8H15" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"
                             stroke-linejoin="round" />
                          <path d="M8 1L15 8L8 15" stroke="currentcolor" stroke-width="1.5"
                             stroke-linecap="round" stroke-linejoin="round" />
                       </svg>
                    </span>
                 </a>
              </div>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4">
           <div class="tp-service-3-item mb-70">
              <div class="tp-service-3-icon">
                 <span>
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                       <path d="M14.5999 12.2V4.6C14.5999 3.72 13.8799 3 12.9999 3H9.3999"
                          stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                       <path d="M11.4 1L9 3L11.4 5" stroke="currentcolor" stroke-width="1.5"
                          stroke-linecap="round" stroke-linejoin="round" />
                       <path d="M3.3999 6.6001V12.2001" stroke="currentcolor" stroke-width="1.5"
                          stroke-linecap="round" stroke-linejoin="round" />
                       <path
                          d="M3.6 6.2C5.03594 6.2 6.2 5.03594 6.2 3.6C6.2 2.16406 5.03594 1 3.6 1C2.16406 1 1 2.16406 1 3.6C1 5.03594 2.16406 6.2 3.6 6.2Z"
                          stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                       <path
                          d="M3.4 17C4.72548 17 5.8 15.9254 5.8 14.6C5.8 13.2745 4.72548 12.2 3.4 12.2C2.07452 12.2 1 13.2745 1 14.6C1 15.9254 2.07452 17 3.4 17Z"
                          stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                       <path
                          d="M14.6002 17C15.9257 17 17.0002 15.9254 17.0002 14.6C17.0002 13.2745 15.9257 12.2 14.6002 12.2C13.2747 12.2 12.2002 13.2745 12.2002 14.6C12.2002 15.9254 13.2747 17 14.6002 17Z"
                          stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                    </svg>
                 </span>
              </div>
              <div class="tp-service-3-content">
                 <h4 class="tp-service-3-title text-light"><a class="tp-line-black" href="{{ url_for('register') }}">Register Face</a></h4>
                 <p class="text-light">Do you want to take control of your own SEO and save money? If so, then you need to try
                    Tryesy.</p>
              </div>
           </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4">
           <div class="tp-service-3-item mb-70">
              <div class="tp-service-3-icon">
                 <span data-bg-color="#a5d3fa">
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                       <path
                          d="M8.99597 10.9463C10.3208 10.9463 11.3948 9.8723 11.3948 8.54748C11.3948 7.22266 10.3208 6.14868 8.99597 6.14868C7.67115 6.14868 6.59717 7.22266 6.59717 8.54748C6.59717 9.8723 7.67115 10.9463 8.99597 10.9463Z"
                          stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                          stroke-linecap="round" stroke-linejoin="round" />
                       <path
                          d="M1 9.251V7.8437C1 7.01211 1.67966 6.32446 2.51924 6.32446C3.96652 6.32446 4.55822 5.30097 3.83058 4.0456C3.41479 3.32596 3.66267 2.39043 4.3903 1.97463L5.77361 1.18303C6.4053 0.807217 7.22089 1.03111 7.5967 1.66279L7.68466 1.81471C8.4043 3.07009 9.58771 3.07009 10.3153 1.81471L10.4033 1.66279C10.7791 1.03111 11.5947 0.807217 12.2264 1.18303L13.6097 1.97463C14.3373 2.39043 14.5852 3.32596 14.1694 4.0456C13.4418 5.30097 14.0335 6.32446 15.4808 6.32446C16.3123 6.32446 17 7.00412 17 7.8437V9.251C17 10.0826 16.3203 10.7702 15.4808 10.7702C14.0335 10.7702 13.4418 11.7937 14.1694 13.0491C14.5852 13.7767 14.3373 14.7043 13.6097 15.1201L12.2264 15.9117C11.5947 16.2875 10.7791 16.0636 10.4033 15.4319L10.3153 15.28C9.5957 14.0246 8.41229 14.0246 7.68466 15.28L7.5967 15.4319C7.22089 16.0636 6.4053 16.2875 5.77361 15.9117L4.3903 15.1201C3.66267 14.7043 3.41479 13.7687 3.83058 13.0491C4.55822 11.7937 3.96652 10.7702 2.51924 10.7702C1.67966 10.7702 1 10.0826 1 9.251Z"
                          stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                          stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                 </span>
              </div>
              <div class="tp-service-3-content">
                 <h4 class="tp-service-3-title text-light"><a class="tp-line-black" href="{{ url_for('view_users') }}">View Data</a></h4>
                 <p class="text-light">Do you want to take control of your own SEO and save money? If so, then you need to try
                    Tryesy.</p>
              </div>
           </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4">
           <div class="tp-service-3-item mb-70">
              <div class="tp-service-3-icon">
                 <span data-bg-color="#d1c5f5">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                       <path d="M1 1V14.6C1 15.928 2.072 17 3.4 17H17" stroke="currentcolor"
                          stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                          stroke-linejoin="round" />
                       <path
                          d="M3.3999 13L7.0719 8.71201C7.6799 8.00801 8.7599 7.96 9.4159 8.624L10.1759 9.38401C10.8319 10.04 11.9119 10 12.5199 9.296L16.1999 5"
                          stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                          stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                 </span>
              </div>
              <div class="tp-service-3-content text-light">
                 <h4 class="tp-service-3-title text-light"><a class="tp-line-black text-light" href="{{ url_for('attendance') }}">Mark Attendance</a></h4>
                 <p class="text-light">Do you want to take control of your own SEO and save money? If so, then you need to try
                    Tryesy.</p>
              </div>
           </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4">
           <div class="tp-service-3-item mb-70">
              <div class="tp-service-3-icon">
                 <span data-bg-color="#a3dcc6">
                    <svg width="18" height="21" viewBox="0 0 18 21" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                       <path
                          d="M4.88623 6.17594V5.28917C4.88623 3.23221 6.54094 1.21183 8.59789 1.01985C11.048 0.782153 13.114 2.71112 13.114 5.11547V6.37707"
                          stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                          stroke-linecap="round" stroke-linejoin="round" />
                       <path
                          d="M6.25739 19.2764H11.7426C15.4177 19.2764 16.0759 17.8045 16.2679 16.0127L16.9536 10.5275C17.2004 8.2968 16.5604 6.47754 12.6568 6.47754H5.34319C1.43955 6.47754 0.79961 8.2968 1.04644 10.5275L1.7321 16.0127C1.92408 17.8045 2.5823 19.2764 6.25739 19.2764Z"
                          stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                          stroke-linecap="round" stroke-linejoin="round" />
                       <path d="M12.1957 10.1343H12.2039" stroke="currentcolor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" />
                       <path d="M5.79534 10.1343H5.80355" stroke="currentcolor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                 </span>
              </div>
              <div class="tp-service-3-content">
                 <h4 class="tp-service-3-title text-light"><a class="tp-line-black" href="{{ url_for('export_attendance') }}">Export Data Attendance</a></h4>
                 <p class="text-light">Do you want to take control of your own SEO and save money? If so, then you need to try
                    Tryesy.</p>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- service area end -->


<!-- goal area start -->
<div class="tp-goal-area pt-85 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5">
        <div class="tp-goal-left p-relative">
          <div class="tp-goal-thumb">
            <img
              class="w-100"
              src="static/assets/img/home-01/goal/goal.jpeg"
              alt=""
            />
          </div>
          <div class="tp-goal-shape">
            <img
              src="static/assets/img/home-01/shape/goal-shape-1.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7">
        <div class="tp-goal-right">
          <div class="tp-goal-right-thumb mb-40">
            <img src="static/assets/img/home-01/goal/goal3.jpeg" alt="" />
          </div>
          <div class="tp-goal-content">
            <div class="tp-goal-title-box mb-20">
              <span class="tp-section-subtitle mb-10 text-light">Our Goal</span>
              <h4 class="tp-section-title tp_reveal_anim text-light">
                Discover why stands out
                Accurate identification 
              </h4>
            </div>
            <div class="tp-goal-text mb-65 tp_fade_anim text-light">
              <p>
                Advanced Recognition: Accurate identification with the latest algorithms.
                Seamless Integration: Easy setup with your existing systems.
                Real-Time Processing: Fast and responsive recognition.
                Secure Privacy: Robust data protection with encryption..
              </p>
            </div>
            <div class="tp-goal-list">
              <ul>
                <li class="tp_fade_anim">
                  <span>
                    <span>
                      <i></i>
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M11.4303 12.9975H2.40034C0.580337 12.9975 -0.579665 11.0475 0.300335 9.44752L2.63034 5.2075L4.81034 1.2375C5.72034 -0.4125 8.10033 -0.4125 9.01033 1.2375L11.2003 5.2075L12.2503 7.11751L13.5303 9.44752C14.4103 11.0475 13.2503 12.9975 11.4303 12.9975Z"
                          fill="currentcolor"
                        ></path>
                        <path
                          opacity="0.4"
                          d="M20.0004 13.4976C20.0004 17.0876 17.0904 19.9976 13.5004 19.9976C9.91037 19.9976 7.00037 17.0876 7.00037 13.4976C7.00037 13.3276 7.01037 13.1676 7.02037 12.9976H11.4304C13.2504 12.9976 14.4104 11.0476 13.5304 9.44757L12.2504 7.11755C12.6504 7.03755 13.0704 6.99756 13.5004 6.99756C17.0904 6.99756 20.0004 9.90756 20.0004 13.4976Z"
                          fill="currentcolor"
                        ></path>
                      </svg>
                    </span>
                  </span>
                  <p>Simple and Effective</p>
                </li>
                <li class="tp_fade_anim">
                  <span>
                    <span>
                      <i></i>
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M11.4303 12.9975H2.40034C0.580337 12.9975 -0.579665 11.0475 0.300335 9.44752L2.63034 5.2075L4.81034 1.2375C5.72034 -0.4125 8.10033 -0.4125 9.01033 1.2375L11.2003 5.2075L12.2503 7.11751L13.5303 9.44752C14.4103 11.0475 13.2503 12.9975 11.4303 12.9975Z"
                          fill="currentcolor"
                        ></path>
                        <path
                          opacity="0.4"
                          d="M20.0004 13.4976C20.0004 17.0876 17.0904 19.9976 13.5004 19.9976C9.91037 19.9976 7.00037 17.0876 7.00037 13.4976C7.00037 13.3276 7.01037 13.1676 7.02037 12.9976H11.4304C13.2504 12.9976 14.4104 11.0476 13.5304 9.44757L12.2504 7.11755C12.6504 7.03755 13.0704 6.99756 13.5004 6.99756C17.0904 6.99756 20.0004 9.90756 20.0004 13.4976Z"
                          fill="currentcolor"
                        ></path>
                      </svg>
                    </span>
                  </span>
                  <p>Recognition Process</p>
                </li>
                <li class="tp_fade_anim">
                  <span>
                    <span>
                      <i></i>
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M11.4303 12.9975H2.40034C0.580337 12.9975 -0.579665 11.0475 0.300335 9.44752L2.63034 5.2075L4.81034 1.2375C5.72034 -0.4125 8.10033 -0.4125 9.01033 1.2375L11.2003 5.2075L12.2503 7.11751L13.5303 9.44752C14.4103 11.0475 13.2503 12.9975 11.4303 12.9975Z"
                          fill="currentcolor"
                        ></path>
                        <path
                          opacity="0.4"
                          d="M20.0004 13.4976C20.0004 17.0876 17.0904 19.9976 13.5004 19.9976C9.91037 19.9976 7.00037 17.0876 7.00037 13.4976C7.00037 13.3276 7.01037 13.1676 7.02037 12.9976H11.4304C13.2504 12.9976 14.4104 11.0476 13.5304 9.44757L12.2504 7.11755C12.6504 7.03755 13.0704 6.99756 13.5004 6.99756C17.0904 6.99756 20.0004 9.90756 20.0004 13.4976Z"
                          fill="currentcolor"
                        ></path>
                      </svg>
                    </span>
                  </span>
                  <p>Receive Results </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- goal area end -->

<!-- skill area start -->
<div class="tp-skill-area pt-130">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-xl-6">
        <div class="tp-skill-wrap">
          <div class="tp-skill-title-box mb-35">
            <span class="tp-section-subtitle mb-10">Expertise</span>
            <h4 class="tp-section-title mb-30 tp_reveal_anim">
              Face recognition algorithms ensure high accuracy and reliability
            </h4>
            <p class="tp_fade_anim">
              Whether you're uploading an image or using a live camera feed, our system is designed for ease of use with a straightforward interface.
            </p>
          </div>
          <div class="tp-skill-mail tp_fade_anim">
            <a href="mailto:tryesy@gmail.com">
              <span>
                <svg
                  width="20"
                  height="17"
                  viewBox="0 0 20 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    opacity="0.3"
                    d="M15 17H5C2 17 0 15.5 0 12V5C0 1.5 2 0 5 0H15C18 0 20 1.5 20 5V12C20 15.5 18 17 15 17Z"
                    fill="currentcolor"
                  ></path>
                  <path
                    d="M10 9.36997C9.16002 9.36997 8.31003 9.10997 7.66003 8.57997L4.53002 6.07997C4.21002 5.81997 4.15003 5.34997 4.41003 5.02997C4.67003 4.70997 5.14003 4.64997 5.46003 4.90997L8.59002 7.40997C9.35002 8.01997 10.64 8.01997 11.4 7.40997L14.53 4.90997C14.85 4.64997 15.33 4.69997 15.58 5.02997C15.84 5.34997 15.79 5.82997 15.46 6.07997L12.33 8.57997C11.69 9.10997 10.84 9.36997 10 9.36997Z"
                    fill="currentcolor"
                  ></path>
                </svg>
              </span>
              <i>tryesy@gmail.com</i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tp-progress-bar-wrap">
          <div class="tp-progress-bar-item">
            <div class="tp-progress-bar-title d-flex justify-content-between">
              <label>Real-Time Analysis:</label>
              <span>75%</span>
            </div>
            <div class="tp-progress-bar">
              <div class="progress">
                <div
                  class="progress-bar wow slideInLeft"
                  data-wow-delay=".1s"
                  data-wow-duration="2s"
                  role="progressbar"
                  data-width="75%"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
          <div class="tp-progress-bar-item">
            <div class="tp-progress-bar-title d-flex justify-content-between">
              <label>API Development</label>
              <span>82%</span>
            </div>
            <div class="tp-progress-bar">
              <div class="progress">
                <div
                  class="progress-bar wow slideInLeft"
                  data-wow-delay=".1s"
                  data-wow-duration="2s"
                  role="progressbar"
                  data-width="82%"
                  aria-valuenow="82"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
          <div class="tp-progress-bar-item">
            <div class="tp-progress-bar-title d-flex justify-content-between">
              <label>Robust Security</label>
              <span>64%</span>
            </div>
            <div class="tp-progress-bar">
              <div class="progress">
                <div
                  class="progress-bar wow slideInLeft"
                  data-wow-delay=".1s"
                  data-wow-duration="2s"
                  role="progressbar"
                  data-width="64%"
                  aria-valuenow="64"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
          <div class="tp-progress-bar-item">
            <div class="tp-progress-bar-title d-flex justify-content-between">
              <label>Feed Development</label>
              <span>72%</span>
            </div>
            <div class="tp-progress-bar">
              <div class="progress">
                <div
                  class="progress-bar wow slideInLeft"
                  data-wow-delay=".1s"
                  data-wow-duration="2s"
                  role="progressbar"
                  data-width="72%"
                  aria-valuenow="72"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- skill area end -->

<!-- funfact area start -->
<div class="tp-funfact-area pt-160 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-50">
        <div class="tp-funfact-item">
          <h4 class="tp-funfact-number">
            <span
              data-purecounter-duration="1"
              data-purecounter-end="45"
              class="purecounter"
              >45</span
            >+
          </h4>
          <span>Realized Projects</span>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-50">
        <div class="tp-funfact-item">
          <h4 class="tp-funfact-number">
            <span
              data-purecounter-duration="1"
              data-purecounter-end="16"
              class="purecounter"
              >16</span
            >+
          </h4>
          <span>Years experiences</span>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-50">
        <div class="tp-funfact-item">
          <h4 class="tp-funfact-number">
            <span
              data-purecounter-duration="1"
              data-purecounter-end="96"
              class="purecounter"
              >96</span
            >+
          </h4>
          <span>Happy customers</span>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-50">
        <div class="tp-funfact-item">
          <h4 class="tp-funfact-number">
            <span
              data-purecounter-duration="1"
              data-purecounter-end="14"
              class="purecounter"
              >14</span
            >+
          </h4>
          <span>trusted partners</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- funfact area end -->

{% endblock %}
